*.la
*.lo
*~
.deps/
.libs/
/INSTALL
/aclocal.m4
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/sde-utils-0.pc
/stamp-h1
Makefile
Makefile.in
